@{
    ViewBag.Title = "Index";
}

@model IEnumerable<Geonames.Models.Geoname>;

<h2>Index</h2>


<form asp-controller="Geonames" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter"/>
    </p>
</form>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.GeonameId)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.FeatureClassification)</th>
        <th>@Html.DisplayNameFor(model => model.Timezone)</th>
        <th>Yr</th>
        <th>Kart</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.GeonameId)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Name),
                @Html.DisplayFor(modelItem => item.Admin1CodesAscii.Name)
                (@Html.DisplayFor(modelItem => item.Country.Name))
            </td>
            <td>@Html.DisplayFor(modelItem => item.FeatureClassification.Content)</td>
            <td>@Html.DisplayFor(modelItem => item.Timezone)</td>
            <td>
                <a href="https://www.yr.no/sted/@item.Country.Name/@item.Admin1CodesAscii.Name/@item.Name" target="_blank">Gå til Yr.no</a>
            </td>
            <td>
                <a href="https://maps.google.com/maps/place/@item.Latitude,@item.Longitude" target="_blank">Gå til Googlemaps</a>
            </td>
        </tr>
    }
</table>