@{
    ViewBag.Title = "Index";
}

@model IEnumerable<Geonames.Models.Geoname>;

<div class="container">
    <form asp-controller="Geonames" asp-action="Index" method="get">
        <div class="row pb-5">
            <div class="col">
                <input type="text" name="SearchString">
                <input type="submit" value="Søk"/>
            </div>
            <div class="col text-right">@ViewData["Query"]&nbsp;</div>
        </div>
    </form>

    <table class="table table-striped">
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.GeonameId)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.FeatureClassification)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Timezone)</th>
            <th scope="col">Yr</th>
            <th scope="col">Kart</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.GeonameId)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name),
                    @Html.DisplayFor(modelItem => item.Admin1CodesAscii.Name)
                    (@Html.DisplayFor(modelItem => item.Country.Name))
                </td>
                <td>@Html.DisplayFor(modelItem => item.FeatureClassification.Content)</td>
                <td>@Html.DisplayFor(modelItem => item.Timezone)</td>
                <td>
                    <a href="https://www.yr.no/sted/@item.GetYrPath()" target="_blank">Gå til Yr.no</a>
                </td>
                <td>
                    <a href="https://maps.google.com/maps/place/@item.Latitude,@item.Longitude" target="_blank">Gå til Googlemaps</a>
                </td>
            </tr>
        }
    </table>
</div>